
.svg {
    position: absolute;
    right: 50%;
    left: 50%;
    transform: translateX(-50%);
}
.triangle {
    fill: none;
    stroke: green;
    stroke-width: 2;
    transition: fill 0.3s ease;
  }
  .triangle:hover {
    fill: green;
  }


.milestones li {
    list-style: none;
    padding: 50px 0;
    display: flex;
    box-sizing: border-box;

}

.milestones li:nth-child(even) {
    justify-content: flex-end;
}
.milestone {
    width: 50%;
    border: 2px solid green;
    float: 2;
}