.header-link {
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding-right: 15px;
}

.header {
    background: #222222;
    color: white;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 100;
    
}

.brand-name {
    color: green;
    font-family: sans-serif;
    font-weight: 900;
}

.menu-icon {
    display: none;
    flex-direction: column;
}

.bar{
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
}

.links-list{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-evenly;
}
.list-item {
    margin: 0 0.5rem;
}

#button-resume {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#button-resume:hover {
    background-color: darkviolet; /* Change color on hover */
}

@media (max-width: 768px) {
    .menu-icon{
        display: flex;
    }

    .link-container-active {
        display: flex;
        width: 100%;
        align-items: center;
        position: absolute;
        top: 60px;
        color: black;
        z-index: 100;
        background-color: white;
    }

    .link-container{
        display: none;

    }
    .header-link {
        text-decoration: none;
        color: black;
    }

    .links-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        width: 100%;
        padding: 10px 0;
        border-radius: 5px;
    }

    .header-link{
        margin-top: 10px;
        text-decoration: underline;
    }

    .button {
        display: none;
    }

    .header{
        display: flex;
        justify-content: space-around;
    }

    .list-item {
        margin: 10px 0;
        font-family: sans-serif;
        font-weight: 700;
        padding: 5px 15px;
        font-size: 1.1rem;
    }

    .menu-icon-active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-10px, 5px);
    }

    .menu-icon-active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-icon-active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-10px, -5px);
    }
}