#home-container {
    /* height: 100vh; */
    /* background-color: #222222; */
    background-color: black;
    /* margin-top: 15vh; */
    color: white;
    padding: 150px 0;
}

img {
    width: 500px;   
    height: 400px;
}

.direction {
    margin: 50px auto;
}
#text-content {
    max-width: 100%;
}

#image-content {
    padding-top: 10px;
}
.about {
    max-width: 75%;
    text-align: justify;
    margin: 25px 0;
}

#home-button {
    margin-right: 5%;
    width: 40%;
}
/* @media (max-width: 1024px){
    .text-content{
        margin: 0 auto;
        width: 50%;
    }
}

@media (min-width: 1024px){
    .text-content {
        max-width: 30%;
    }
} */