#home-container {
    background-color: black;
    color: white;
    padding-top: 150px;
    padding-bottom: 50px;
}

img {
    width: 500px;   
    height: 400px;
}

.direction {
    margin: 50px auto;
    
}
.scroll-link {
    color: white;
    text-decoration: none;
}
.scroll-link:hover {
    color: #07b16a;
}
#text-content {
    max-width: 100%;
}

#image-content {
    padding-top: 25px;
}
.about {
    max-width: 75%;
    text-align: justify;
    margin: 25px 0;
}

#home-button {
    margin-right: 5%;
    width: 40%;
    color: white;
    border: solid  1px white;
    transform: background-color 1s ease;
}

#home-button:hover {
    background-color: #198754;
}

.greet {
    font-weight: 700;
    font-size: 2.5rem;
}
.name {
    font-size: 5rem;
    color: #07b16a;
    font-weight: 900;
}

@media (max-width: 1024px){
    .greet {
        font-weight: 700;
        font-size: 1.5rem;
    }
    .name {
        font-size: 3rem;
        color: #198754;
    }
}
