#projects {
    padding: 150px 0;
    /* margin: 0 10%; */
}

.projects-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: green;
    padding: 50px 0;
}

.project-carousel {
    height: auto;
    width: 50%;
    margin: 0 auto;
    z-index: 1;
}

.project-image {
    width: 100%;
    height: auto;
}

.project-items {
    padding-bottom:  70px;
}

.project-item-container {
    height: auto;
    width: 50%;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 
                0 20px 40px rgba(0, 0, 0, 0.2);
}

.project-item-container:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 
                0 20px 40px rgba(0, 0, 0, 0.2);
}



#project-texts{
    position: relative;
    bottom: auto;
    text-align: center;
    left: 0;
}

.project-details {
    text-align: justify;
}

.project-button{
    width: 75%;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: green;
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .project-carousel{
        width: 75%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .project-carousel{
        width: 75%;
    }
    .project-item-container {
        width: 55%;
    }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
    .project-carousel{
        width: 80%;
    }
    .project-item-container {
        width: 65%;
    }
}
@media (max-width: 600px){
    .project-carousel{
        width: 100%;
    }
    .project-item-container{
        width: 85%;
    }
}
